In [7]:
str1 = '123456789'
print(str1 + 'abc')
print(str1*3)
str2 = 'qwerty''pqr'
print(str2)
list(zip(str1,str2))

123456789abc
123456789123456789123456789
qwertypqr

[('1', 'q'),
 ('2', 'w'),
 ('3', 'e'),
 ('4', 'r'),
 ('5', 't'),
 ('6', 'y'),
 ('7', 'p'),
 ('8', 'q'),
 ('9', 'r')]

In [2]:
str3 = 'sushant'
count = 0
sr = 1
for i in str3:
    print(sr,i,'\n')
    sr += 1
    if(i == 's'):
        count += 1
print(count,'number of s')

1 s

2 u

3 s

4 h

5 a

6 n

7 t

2 number of s

In [39]:
print('a' in str3)
print('d' in str3)
print('r' not in str3)

True
False
True

In [45]:
print(dict(enumerate(str3)))
print(len(str3))

{0: 's', 1: 'u', 2: 's', 3: 'h', 4: 'a', 5: 'n', 6: 't'}
7

In [47]:
print("He said, what's your name?")

He said, what's your name?

In [48]:
print('\a')



In [51]:
print("{}, {}, {} and {}".format('a','b','c','d'))
print("{2}, {0}, {1} and {3}".format('a','b','c','d'))
print("{r}, {s}, {q} and {p}".format(p='a',q='b',r='c',s='d'))

a, b, c and d
c, a, b and d
c, d, b and a

In [53]:
st = 'SusHAnt'
print(st.lower())
print(st.upper())

sushant
SUSHANT

In [10]:
st1 = "my.name.is.sushant"
print(st1)
print(st1.split("."))

my.name.is.sushant
['my', 'name', 'is', 'sushant']

In [15]:
st2 = ['sushnat','pandilwar']
print(' '.join(st2[::-1]))
' '.join(st2)

pandilwar sushnat

'sushnat pandilwar'

In [76]:
'my name is sushant'.find('am')

4

In [77]:
'my name is abc'.replace('abc','xyz')

'my name is xyz'